

@@media only screen and (min-width: 640px) {

}

.navTab{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


#desktopNav{
  display: flex;
  justify-content: space-around;
  min-height: 40px;
  background-color: #6d7993;
  width: 100%;
  cursor: default;
}

#aboutMe{
  display: none;
}
